body, html {
  height: 100%; 
  margin: 0;
  font: 15px "Amatic SC", sans-serif;
  background-image: url(../images/xuanpaper.jpg);
 
}

.header {
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	background-color: white; 
	z-index: 100;
	position: fixed;
}

.menubotton_left {
	display: inline-block;
	width: 30%;
	text-align: right;
	text-decoration: none;
}

.button_active_left,.button_active_left2 {
	font-size: 30px;
	text-decoration: none;
	color: orange;
	padding: 5%;
}

.logo-center {
	
	margin-left: 100px;
	padding: 10px 10px;
	z-index: 101;
	position: relative;
}


